@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
*{
    padding: 0px;
    margin: 0px;
    font-family: "Madimi One", sans-serif;
}
header{
    background-color: rgb(211, 191, 13);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
}
header > #tec, #blog {
    display: inline-block;
    margin-bottom: 20px;
}
header > #blog {
    color: aliceblue;
    font-family: "Madimi One", sans-serif;
}
nav > a {
    margin: 0px 20px;
    color: aliceblue;
    padding: 5px;
    text-decoration: none;
}
nav > a:hover {
    color: rgb(211, 191, 13);
    background-color: aliceblue;
    border-radius: 3px 3px 3px 3px;
    transition: 0.3s;
}
#principal {
    margin: auto;
    width: 650px;
}
#principal > h2 {
    color: rgb(192, 173, 3);
    padding-top: 20px;
}
#recentes {
    float: right;
    position: absolute;
    top: 192px;
    left: 1122px;
    width: 218px;
}
#recentes > article > h2 {
    background-color: rgba(128, 128, 128, 0.555);
}
#recentes > article > p {
    margin-top: 10px;
    margin-bottom: 5px;
}
#recentes > article > a {
    text-decoration: none;
    color: rgb(211, 191, 13);
    display: block;
    padding-top: 10px;
}
footer{
    clear: both;
    width: 650px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    background-color: black;
    color: aliceblue;
}