@charset "UTF-8";
/* Mobile Forst */
* {
    box-sizing: content-box;
    padding: 0%;
    margin: 0%;
}
a {
    color: rgb(134, 68, 21);
    text-decoration: none;
}
li > a:hover, li:hover {
    color: rgb(116, 55, 14);
    background-color: darkorange;
    text-decoration: none;
    transition: 0.3s;
}
header {
    width: auto;
    margin: auto;
}
header img {
    margin: auto;
    margin-top: 10px;
    display: block;
    width: 50%;
}
header nav, header ul {
    margin: auto;
    text-align: center;
}
header li {
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border-radius: 10%;
    list-style-type: none;
    cursor: pointer;
}
header nav > a {
    color: aliceblue;
    float: none;
    position: fixed;
    left: 80%;
    bottom: 5%;
}
header nav a img {
    width: 110%;
    padding: 3px;
    background-color: darkcyan;
    position: relative;
    border-radius: 50%;
    animation-name: pulsar;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@keyframes pulsar {
    0% {
        transform: scale(110%);
        box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.349);
        left: 0px;
    }
    100% {
        transform: scale(100%);
        left: 100px;
    }
}

/* Artigos Anuncio */
section {
    clear: both;
    margin: auto;
}
article#anuncio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    max-width: 80%;
    margin: auto;
}
article#anuncio > img {
    width: 75%;
}
div.mensagem h1 {
    font-weight: 500;
    font-size: 290%;
    text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.589);
}
div.mensagem p {
    font-size: 17px;
    text-decoration: underline;
    text-align: justify;
    color: rgb(53, 37, 7);
}
div.mensagem input {
    width: 65%;
    padding: 5px;
    font-weight: 500;
}
div.mensagem button {
    padding: 6px 2%;
    border-radius: 0% 5% 5% 0%;
    background-color: rgb(38, 38, 240);
    color: white;
    border: none;
}
div.mensagem aside {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
div.mensagem h6 {
    display: inline-block;
    font-weight: bolder;
}
div.mensagem  aside > img {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
div.mensagem  aside > img:hover {
    background-color: rgb(248, 248, 246);
    transform: scale(110%);
    transition: 0.3s;
}

/* Artigo Saiba */
article#saiba {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 254, 254);
    margin: auto;
    margin-bottom: 1px;
}
article#saiba .saiba1 {
    margin: 20px;
}
article#saiba .saiba1  h1{
    font-weight: 500;
    font-size: 290%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.589);
}
article#saiba .saiba1  p {
    font-size: 17px;
    text-align: justify;
    color: rgb(53, 37, 7);
}
article#saiba img {
    display: none;
    width: 65%;
    margin: 50px;
}
article#saiba button {
    padding: 6px 3%;
    border-radius: 5%;
    background-color: rgb(38, 38, 240);
    color: white;
    border: none;
    font-weight: bold;
    margin: auto;
    display: block;
}
article#saiba p {
    text-align: justify;
}

/* Artigo Celular */
article#celular {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-bottom: 1px;
}
article#celular .celular1 {
    margin: 20px;
}
article#celular .celular1  h1{
    font-weight: 500;
    font-size: 290%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.589);
}
article#saiba .celular1  p {
    font-size: 17px;
    text-align: justify;
    color: rgb(53, 37, 7);
}
article#celular img {
    display: none;
    width: 30%;
    margin: 50px;

}
article#celular button {
    padding: 6px 3%;
    border-radius: 5%;
    background-color: rgb(38, 38, 240);
    color: white;
    border: none;
    font-weight: bold;
    margin: auto;
    display: block;
}

/* Artigos Opção */
article#opcao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(212, 212, 212);
    margin-bottom: 1px;
}
article#opcao div {
    width: 90%;
    margin: auto;
    text-align: justify;
}
article#opcao img {
    width: 50%;
    float: left;
}

/* Footer */
footer ul {
    width: 80%;
    margin: auto;
    text-align: center;
}
footer li{
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
}