@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(14, 62, 165);
}
header {
    width: 100%;
    height: 233px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url('imagens/fundo.png');
    background-position: bottom center;
    background-repeat: repeat-x;
}
header > #logo{
    float: left;
    margin-left: 60px;
}
nav > ul > li{
    clear: both;
    display: inline-block;
}
header > #mapa {
    clear: both;
    float: right;
    top: 10px;
    right: 0px;
}