@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}
header {
    height: 160px;
    margin: auto;
    background-image: url('img/fundo.png');
}
nav {
    margin-top: 2%;
    margin-right: 10%;
    float: right;
}
nav ul li {
    margin-right: 30px;
    display: inline-block;
    font-size: 20px;
    padding: 4px;
}
nav ul li:hover {
    background-color: rgb(39, 20, 7);
    color: rgb(114, 90, 16);
    border-radius: 10px;
    transform: scale(105%);
    transition: all 0.3s;
}
nav a {
    text-decoration: none;
    color: rgb(110, 83, 7);
}
header img {
    position: relative;
    top: 25%;
    left: 10%;
}

/* Sessão */
section {
    margin: auto;
    width: 80%;
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
article {
    margin: 5px;
}
#sobre {
    width: 710px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#video {
    width: 300px;
    margin-right: 5px;
}
#mapa {
    width: 400px;
    margin-left: 105px;
}