@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
* {
    font-family: "Jersey 10", sans-serif;
    cursor: url('imagens/mata_mosca.png'), auto;
}
body { 
    background-image: url('imagens/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
div {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    color: aliceblue;
    text-shadow: 0px 0px 5px black;
    font-size: 120px;
}
select, button { 
    padding: 0% 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 3% auto;
}
.mosca {
    position: fixed;
    width: 100px;
    animation-name: mosca;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.mosca1{
    left: 160px;
    bottom: 130px;
    rotate: 30deg;
    width: 15%;
}
.mosca2{
    left: 370px;
    bottom: 540px;
    rotate: 20deg;
    width: 5%;
}
.mosca3{
    left: 920px;
    bottom: 425px;
    rotate: 10deg;
    width: 15%;
}
.mosca4{
    left: 1110px;
    bottom: 175px;
    rotate: 5deg;
    width: 25%; 
}
@keyframes mosca {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(105%);
    }
    100% {
        transform: scale(110%);
    }
}