* {
    margin: 0%;
    padding: 0%;
}
nav { 
    background-color: rgba(55, 68, 248, 0.911);
}
ul {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
li {
    list-style-type: none;
    margin: .8rem 1rem;
}
a {
    color: aliceblue;
    text-decoration: none;
    padding: 15%;
    font-size: clamp(14px, 4vw, 20px);
}

.container {
    margin: auto;
    margin-top: 2rem;
    width: 60%;
}
h1 {
    font-size: clamp(30px, 4vw, 100px);
    margin: auto;
    margin-bottom: 3rem;
    width: max-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 5px rgb(30, 46, 53);
}
h2 { 
    font-size: clamp(16px, 4vw, 25px);
    margin: auto;
    margin-bottom: 3rem;
    width: max-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 5px rgb(30, 46, 53);
    color: red;
}

.infor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: .5rem 2rem;
}
input {
    padding: .5rem;
    accent-color: rgb(67, 110, 252);
}
select {
    grid-column-start: 2;
    grid-column-end: 6;
}
#descricao {
    grid-column-start: 1;
    grid-column-end: 4;
}

#tabela {
    border-collapse: collapse;
    visibility: hidden;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
}
th{
    padding: .75rem;
    font-size: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
td {
    padding: .75rem;
    font-size: 18px;
    text-align: center;
}
tbody >tr:nth-child(odd){
    background-color: rgba(148, 146, 146, 0.719);
}
@media (max-width:1000px) {
    .infor {
        display: flex;
        flex-direction: column;
    }
    .container {
        margin: auto;
        margin-top: 1rem;
        width: 95%;
    }
    h1 {
        width: max-content;
        margin: auto;
        margin-bottom: 1rem;
    }
    input {
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;
        order: 1;
    }
    input[type=date]{
        order:2;
    }
    select {
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;
    }
    button {
        padding: 5px;
        font-size: 16px;
        background-color: rgba(55, 68, 248, 0.911);
        border-radius: 5px;
        width: 50%;
        margin: auto;
        order: 3;
    }
    ul {
        width: max-content;
    }
    td {
        padding: .75rem;
        font-size: 14px;
        text-align: center;
    }
    .desc {
        overflow: auto;
        white-space: nowrap;
        width: 100px;
    }
    th{
        padding: .75rem;
        font-size: 16px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }
}